:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-gray-dark: rgba(71, 80, 107, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-light: rgba(172, 177, 195, 1);
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-gray-darker: rgba(45, 45, 71, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-status-info: rgba(34, 195, 240, 1);
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-gray-darkest: rgba(34, 34, 56, 1);
  --dl-color-gray-default: rgba(121, 129, 154, 1);
  --dl-color-gray-lighter: rgba(217, 222, 231, 1);
  --dl-color-primary-dark: rgba(85, 48, 167, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-color-gray-lightest: rgba(226, 230, 237, 1);
  --dl-color-primary-light: rgba(198, 150, 252, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-default-47516b: rgba(45, 45, 71, 1);
  --dl-color-default-79819a: rgba(71, 81, 107, 1);
  --dl-color-gray-lightest2: rgba(247, 249, 252, 1);
  --dl-color-primary-darker: rgba(49, 32, 99, 1);
  --dl-color-secondary-dark: rgba(41, 51, 126, 1);
  --dl-color-social-twitter: rgba(0, 172, 238, 1);
  --dl-color-status-success: rgba(74, 191, 110, 1);
  --dl-color-status-warning: rgba(243, 205, 16, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-primary-darkest: rgba(22, 15, 45, 1);
  --dl-color-primary-default: rgba(146, 81, 247, 1);
  --dl-color-primary-lighter: rgba(239, 226, 248, 1);
  --dl-color-secondary-light: rgba(149, 170, 251, 1);
  --dl-color-social-dribbble: rgba(234, 76, 137, 1);
  --dl-color-social-linkedin: rgba(0, 119, 181, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-gradient-primary: rgba(163, 119, 232, 1);
  --dl-color-primary-lightest: rgba(248, 242, 252, 1);
  --dl-color-secondary-darker: rgba(30, 34, 71, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-secondary-default: rgba(81, 108, 247, 1);
  --dl-color-secondary-lighter: rgba(225, 231, 254, 1);
  --dl-color-gradient-secondary: rgba(81, 108, 247, 1);
  --dl-color-secondary-lightest: rgba(245, 247, 254, 1);
  --dl-color-status-successdark: rgba(30, 91, 67, 1);
  --dl-color-status-warningdark: rgba(132, 112, 40, 1);
  --dl-color-status-successlight: rgba(230, 250, 228, 1);
  --dl-color-status-warninglight: rgba(254, 252, 191, 1);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.BodyBody2bold {
  font-size: 7px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingHeading3 {
  font-size: 9px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadingHeading3bold {
  font-size: 9px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingHeading2 {
  font-size: 12px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 400px;
  font-stretch: normal;
}
.BodyCaption2 {
  font-size: 5px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadingHero {
  font-size: 24px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 600px;
  font-stretch: normal;
}
.HeadingHeading2bold {
  font-size: 12px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyBody2 {
  font-size: 7px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadingHeading1bold {
  font-size: 16px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyCaption1 {
  font-size: 6px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.BodyHairline1 {
  font-size: 6px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 700px;
  font-stretch: normal;
}
.BodyBody1bold {
  font-size: 8px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyCaption1bold {
  font-size: 6px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadingHeading1 {
  font-size: 16px;
  font-style: normal;
  font-family: Outfit;
  font-weight: 400px;
  font-stretch: normal;
}
.BodyCaption2bold {
  font-size: 5px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyBody1 {
  font-size: 8px;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
